@font-face{
  font-family: 'ColfaxMedium';
  src: url('./fonts/colfaxLight.ttf')
  
}
@font-face{
  font-family: 'ColfaxLight';
  src: url('./fonts/colfaxLight.ttf')
  
}
html{
  background-color: #1B1B1D;
  height: 100vh;
  font-family: 'ColfaxMedium' !important;
}
#name{
  color:#fff; 
  font-family: 'ColfaxMedium'
}
#subtext{
  color:#fff;
  font-size:2rem;
  font-family: 'ColfaxLight';
  font-weight: 100;
}
#begin-button{

  margin:10px;
  background-color: gray;

}
.App {
  text-align: center;
  color:#fff;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 100px;
}
.App h1{
  font-family: 'ColfaxLight';
  margin-bottom: 40px;
}
.App .landing-button{
  font-size: 1.5rem !important;
	background-image: linear-gradient(to right, #FF9C00 0%, #0D9CFD 100%);
	border-radius: 30px;
  box-sizing: border-box;
	color: white;
	display: block;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
  padding: 4px;
  text-transform: none;
	position: relative;
  text-decoration: none;
	width: 264px;
  z-index: 2;
  margin-top: 20px;
}
.App .landing-button span{
	align-items: center;
	background: rgba(0,0,0,0.87);
	border-radius: 30px;
	display: flex;
	justify-content: center;
  height: 100%;
  transition: background .5s ease;
	width: 100%;
}
.App .landing-button span:hover{
	background: rgba(0,0,0,0.77);
}

.headerthing{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
.Login{
  padding:50px;
  height:100vh;
  animation:Gradient 8s ease infinite;
  background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, purple);
  background-size: 500% 500%;
}
.login-button{
  background-color: rgba(0,0,0,0.4) !important;
  margin:10px;
  margin-left:0px;
  
}
.Account{
    background: Gradient 8s ease infinite;
    background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, purple);
}
.login-field input[type=text]:focus{
  border-bottom: 1px solid #aaa;
} 
#password{
  -webkit-text-security: disc;
  -moz-text-security: disc;
}
input{
  color:#fff;
}
@keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
}