@font-face{
  font-family: 'ColfaxMedium';
  src: url('./fonts/colfaxLight.ttf')
  
}
@font-face{
  font-family: 'ColfaxLight';
  src: url('./fonts/colfaxLight.ttf')
  
}
html{
  background-color: #1B1B1D;
  height: 100vh;
  font-family: 'ColfaxMedium' !important;
}
#name{
  color:#fff; 
  font-family: 'ColfaxMedium'
}
#subtext{
  color:#fff;
  font-size:2rem;
  font-family: 'ColfaxLight';
  font-weight: 100;
}
#begin-button{

  margin:10px;
  background-color: gray;

}
.devider{
  width: 100vw;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
.YEET{
  font-size: 1.2rem;
}
.Connect{
  color:white;
  min-height: 100vh !important;
  height: auto !important;
}
.item{
  background-color: rgba(0,0,0,0.1);
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 15px;
}
.item p{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.item a{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color:#fff;
  text-decoration: underline;
}
.App {
  text-align: center;
  color:#fff;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 100px;
}
.App h1{
  font-family: 'ColfaxLight';
  margin-bottom: 40px;
}
.App .landing-button{
  font-size: 1.5rem !important;
	background-image: linear-gradient(to right, #FF9C00 0%, #0D9CFD 100%);
	border-radius: 30px;
  box-sizing: border-box;
	color: white;
	display: block;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
  padding: 4px;
  text-transform: none;
	position: relative;
  text-decoration: none;
	width: 264px;
  z-index: 2;
  margin-top: 20px;
}
.App .landing-button span{
	align-items: center;
	background: rgba(0,0,0,0.87);
	border-radius: 30px;
	display: flex;
	justify-content: center;
  height: 100%;
  transition: background .5s ease;
	width: 100%;
}
.App .landing-button span:hover{
	background: rgba(0,0,0,0.77);
}
.landing-bg{
  width:100vw;
  height: 30vh;
  background-color: #0D9CFD;


}
.headerthing{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
.headerthing h3{
  font-size: 2rem !important;
}
.Login{
  padding:20px;
  height:100vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  animation:Gradient 8s ease infinite;
  background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, purple);
  background-size: 500% 500%;
}
.scan{
    margin: 0 auto;
    display: flex;
}
.login-button{
  background-color: rgba(0,0,0,0.4) !important;
  margin:10px;
  margin-left:0px;
  
}
.accountCard{

  width:80vw;
  height:80px;
  display: flex;
  justify-self: flex-start;
  justify-content: flex-start;
  color:#fff;
  font-size: 1rem !important;

}
.accountCard h3{

  font-size: 1.3rem;
}
.accountCard h5{
  margin-top:1px;
  margin-left: 2px;
  font-size: 1.1rem;
}
.accountCardImage{
  margin:10px;
  width:60px;
  height:60px;
  border-radius: 50%;
  justify-self: flex-start;
}
.login-field input[type=text]:focus{
  border-bottom: 1px solid #aaa;
} 
#password{
  -webkit-text-security: disc;
  -moz-text-security: disc;
}
input{
  color:#fff;
}

.circles-home-name {
  padding: 10px;
  padding-left: 30px;
  font-size: 48pt;
}
@keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
}