@font-face{
  font-family: 'ColfaxMedium';
  src: url('./fonts/colfaxLight.ttf')
  
}
@font-face{
  font-family: 'ColfaxLight';
  src: url('./fonts/colfaxLight.ttf')
  
}
html{
  background-color: #1B1B1D;
  height: 100vh;
  font-family: 'ColfaxMedium' !important;
}
#name{
  color:#fff; 
  font-family: 'ColfaxMedium'
}
#subtext{
  color:#fff;
  font-size:2rem;
  font-family: 'ColfaxLight';
  font-weight: 100;
}
#begin-button{

  margin:10px;
  background-color: gray;

}
.App {
  text-align: center;
  color:#fff;
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.Login{
  padding:50px;
  height:100vh;
  animation:Gradient 8s ease infinite;
  background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, purple);
  background-size: 500% 500%;
}
#login-button{
  background-color: rgba(0,0,0,0.4);
  margin:10px;
  margin-left:0px;
  
}
.login-field input[type=text]:focus{
  border-bottom: 1px solid #aaa;
} 
#password{
  -webkit-text-security: disc;
  -moz-text-security: disc;
}
input{
  color:#fff;
}
@keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
}